body
{
  background-color: #EFEEEE;
  color: #182744;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
  color: #182744;
}

.navbar
{
  background-color: #182744;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a
{
  color: #EFEEEE;
}

.navbar-inverse .navbar-brand:hover, nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
{
  color: #b05255;
}
